<div class="jumbotron">
  <h1>Witaj</h1>
  <h2>Aplikacja storzona przy pmoocy Angular2 & Bootstrap</h2>
</div>

<carousel>
  <slide>
    <img src="../assets/img/shutterstock-227550832_032f.jpg" alt="First slide"
         class="img-style">
    <div class="carousel-caption d-none d-md-block">
      <h3>Zapraszamy do naszego sklepu</h3>
      <p>Przejdź do koszyka i wprowadź produkt</p>
    </div>
  </slide>
  <slide>
    <img src="../assets/img/owoce_sezonowe-1440x960.jpg" alt="Second slide" class="img-style">
    <div class="carousel-caption d-none d-md-block">
      <h3>Kupuj co chcesz</h3>
      <p>Każdy produkt jest dostępny. Nie tylko owoce i warzywa</p>
    </div>
  </slide>
  <slide>
    <img src="../assets/img/fruit.jpg" alt="Third slide" class="img-style">
    <div class="carousel-caption d-none d-md-block">
      <h3>To jest karusela</h3>
      <p>A to jest przykładowy tekst</p>
    </div>
  </slide>
</carousel>
