<h3 class="text-center">Kontakt</h3>
<p class="text-center"><em>Zostaw swoją opinię</em></p>
<div class="row test">
  <div class="col-md-4">
    <p>Podoba Ci się ?.</p>
    <p><span class="glyphicon glyphicon-map-marker"></span>Szczecin, PL</p>
    <p><span class="glyphicon glyphicon-phone"></span>Kom: 662 311 024</p>
    <p><span class="glyphicon glyphicon-envelope"></span>Email: pmolik935@wp.pl</p>
  </div>
  <div class="col-md-8">
    <div class="row">
      <div class="col-sm-6 form-group">
        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
      </div>
      <div class="col-sm-6 form-group">
        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
      </div>
    </div>
    <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
    <div class="row" style="padding-top: 10px">
      <div class="col-md-12 form-group">
        <button class="btn btn-primary pull-right" type="submit" (click)="send()">Send</button>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br>
