<footer class="page-footer text-centre">
  <a class="up-arrow" herf="#myPage" data-toggle="tooltip" title="Sponsorzy">
    <i class="fa fa-facebook-square" style="font-size:24px"></i>
    <i class="fa fa-youtube" style="font-size:24px"></i>
    <i class="fa fa-twitter" style="font-size:24px"></i>
    <i class="fa fa-stack-overflow" style="font-size:24px"></i>
    <i class="fa fa-git-square" style="font-size:24px"></i>
    <i class="fa fa-empire" style="font-size:24px"></i>
  </a><br><br>
</footer>
