<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" style="background-color: #2d2d30">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" herf="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a herf="#home">Zaloguj się</a></li>
        <li><a herf="#home">Zarejstruj się</a></li>
      </ul>
    </div>
  </div>
</nav>
